# Arizona Active Management Area Data 
***
#### Annual Supply and Demand
We are going to take a look at the **water use** and **water supply** by sector and source on an annual basis.

In [8]:
import pandas as pd

### 1. Import CSV's
We are using Pandas to reaad both csv files that include annual AMA water data, as well as the csv that includes the business term definitions associated with the water data. This will help give context for our EDA.

In [9]:
waterdata = pd.read_csv('ama-demand-supply-data/AMA_demand_supply_from_DW .csv')

In [10]:
waterterms = pd.read_csv('ama-demand-supply-data/AMA_demand_supply_business_terms.csv')

In [13]:
waterdata.head(5)

,YEAR,AMA,SECTOR,CATEGORY,PARENT WATER TYPE OR SECTOR,BUDGET ELEMENT,QUANTITY
0,2021,PHOENIX AMA,Municipal,Demand,Municipal,Large Provider Residential Deliveries,563476
1,2021,PHOENIX AMA,Municipal,Demand,Municipal,Large Provider Non-Residential Deliveries,304201
2,2021,PHOENIX AMA,Municipal,Demand,Municipal,Large Provider Lost and Unaccounted for Water,234368
3,2021,PHOENIX AMA,Municipal,Demand,Municipal,Small Provider Deliveries,2185
4,2021,PHOENIX AMA,Municipal,Demand,Municipal,Urban Irrigation,105247

In [14]:
waterterms.head()

,Business_Term,BUSINESS_TERM_DESCRIPTION,Business_Term_Status
0,Annual Report Year,Calendar year during which annual water use wa...,S
1,Surface water,"A water type, Surface water is the waters of a...",S
2,Supply,The sources of water available for use by a ce...,S
3,Municipal,Municipal water use includes water delivered f...,S
4,Agricultural,Agricultural demand is composed of the use of ...,S

In [15]:
waterdata.shape

(7844, 7)

In [16]:
waterdata.isnull()

,YEAR,AMA,SECTOR,CATEGORY,PARENT WATER TYPE OR SECTOR,BUDGET ELEMENT,QUANTITY
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
7839,False,False,False,False,True,False,False
7840,False,False,False,False,True,False,False
7841,False,False,False,False,True,False,False
7842,False,False,False,False,True,False,False
7843,False,False,False,False,True,False,False